---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Card from '../../components/Card.astro';
import SecondaryActionLink from '../../components/SecondaryActionLink.astro';
import SectionHeading from '../../components/SectionHeading.astro';
import { appRoutes } from '../../config/url.const';
import Layout from '../../layouts/Layout.astro';

const breadcrumbs = [
    {
        label: 'Home',
        linkTo: appRoutes.base
    },
    {
        label: 'Tastings',
    }
]

const whiskyCard = {
    heading: 'Whisky',
    content: 'Complete leek of reeds de nodige ervaring? Tasted biedt voor elk wat wils. Maak een keuze uit verschillende thema\’s en laat u verrassen door de wondere wereld van whisky.',
    redirectTo: appRoutes.tastings.whisky
}

const rumCard = {
    heading: 'Rum',
    content: 'Liever een trip naar meer tropische oorden? Met een rumtasting bent u zo in de juiste sfeer. Ontdek deze prachtige spirit die zoveel meer is dan slechts een ingrediënt in cocktails.',
    redirectTo: appRoutes.tastings.rum
}

const tequilaCard = {
    heading: 'Tequila & Mezcal',
    content: 'Zout, limoen en een shot tequila? Niets van bij Tasted. Wij kiezen voor kwaliteit. Met een tequila- en mezcaltasting ontdekt u een van de meest complexe spirits ter wereld.',
    redirectTo: appRoutes.tastings.tequila
}

const wineCard = {
    heading: 'Wijn',
    content: 'Zin om je basiskennis over wijn op te frissen? Altijd al meer willen weten over die ene wijnregio of druif? Weet je in de winkel nooit goed wat kiezen? Voor een wijntasting is elk excuus geldig!',
    redirectTo: appRoutes.tastings.wine
}
---

<Layout title="Tasted - Overzicht">
	<article>
		<section class="bg-rose-secondary rounded-br-[75px]">
            <nav aria-label="breadcrumbs" class="px-4 pt-2">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
            </nav>
			<p class="font-light leading-7 mt-2 px-4 pb-4">
			    Tasted verzorgt uw wijn- en spiritstastings op maat. Altijd al meer willen weten over wijn? Fan van een lekker glas whisky of rum, maar geen idee waar te beginnen? Ontdek ons gevarieerd aanbod!
			</p>
		</section>	
        <section class="mt-8 px-4 md:px-0">
            <SectionHeading heading="Ready, set... Taste!" size="large" />
            <div class="grid grid-cols-1 gap-y-6 mt-4 md:grid-cols-2 md:gap-x-4">
                <Card heading={whiskyCard.heading} content={whiskyCard.content} redirectTo={whiskyCard.redirectTo} />
                <Card heading={rumCard.heading} content={rumCard.content} redirectTo={rumCard.redirectTo} />
                <Card heading={tequilaCard.heading} content={tequilaCard.content} redirectTo={tequilaCard.redirectTo} />
                <Card heading={wineCard.heading} content={wineCard.content} redirectTo={wineCard.redirectTo} />
            </div>
        </section>
        <section class="bg-rose-secondary flex flex-col gap-y-4 p-4 mt-8">
            <SectionHeading heading="Niet gevonden wat je zocht?" />
            <p class="font-light">
                Heb je niet volledig je ding gevonden in ons aanbod? Of zit je nog met een vraag?
                Aarzel dan niet om ons te contacteren. Wij helpen je graag verder!
            </p>
            <div class="md:flex md:w-full md:justify-center">
            <SecondaryActionLink label="Stel ons je vraag" redirectTo={appRoutes.contact}  />
            </div>
        </section>
    </article>
</Layout>
