---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import CloudinaryImage from '../../components/CloudinaryImage.astro';
import PrimaryActionLink from '../../components/PrimaryActionLink.astro';
import SecondaryActionLink from '../../components/SecondaryActionLink.astro';
import SectionHeading from '../../components/SectionHeading.astro';
import { appRoutes } from '../../config/url.const';
import Layout from '../../layouts/Layout.astro';

const imageSrc = "tasted/whisky.jpg"

const description =
	"Complete leek of reeds de nodige ervaring? Tasted biedt voor elk wat wils. Maak een keuze uit verschillende thema\’s en laat u verrassen door de wondere wereld van whisky."

const breadcrumbs = [
    {
        label: 'Home',
        linkTo: appRoutes.base
    },
    {
        label: 'Tastings',
        linkTo: appRoutes.tastings.base,
    },
    {
        label: 'Whisky',
    }
]
---

<Layout title="Whisky tasting" seoDescription={description}>
	<article class="leading-7 font-light">
        <aside>
            <CloudinaryImage alt="Image whisky glasses" src={imageSrc} height="768px" width="510px" />
        </aside>
        <section class="p-4">
            <nav aria-label="breadcrumbs" class="py-2">
                <Breadcrumbs breadcrumbs={breadcrumbs} />
            </nav>
            <SectionHeading heading="Whisky tasting" />
            <p class="my-4">
                Tijdens een whisky tasting wordt u meegenomen op een reis doorheen de geschiedenis en het productieproces van deze geliefde sterke drank. U leert hoe een whisky te degusteren en maakt kennis met een wereld van uiteenlopende aroma\’s en smaken. 
                De complexiteit en diversiteit die eigen zijn aan deze spirit worden vakkundig toegelicht en u leert begrijpen waar de smaken in uw glas vandaan komen. 
                Door een duidelijk begrip van de distilleerderij, het productieproces en de verschillende rijpingsmethoden, zal u met vernieuwd respect, liefde en kennis van uw whisky kunnen genieten.
            </p>
            <SectionHeading heading="Wat mag je verwachten?" size="small" />
            <p class="mt-4">Tijdens een whisky tasting van 2 uur proef je 2 cl van 6 verschillende soorten whisky.</p>
            <p class="mt-2 mb-4">Maak daarbij je keuze uit een van onze <span class="font-semibold">diverse thema's</span> (of stel ons je eigen thema voor) zoals:</p>
            <ul class="ml-2 flex flex-col gap-y-2 mb-4">
                <li>Introductie tot whisky</li>
                <li>Invloed van het vat</li>
                <li>Invloed van leeftijd</li>
                <li>Ierse whisky</li>
                <li>Wereldwhisky</li>
                <li>Speyside vs. Islay whisky</li>
                <li>...</li>
            </ul>
            <SectionHeading heading="Praktisch" size="small" />
            <p class="mt-2">
                Een whisky tasting kan doorgaan <span class="font-semibold">vanaf 35 euro per persoon</span> en is geschikt voor kleine en grote groepen. 
                Het <span class="font-semibold">minimum </span>aantal deelnemers bedraagt <span class="font-semibold">6 personen.</span>
            </p>
            <p class="mt-2">
                De tasting gaat door bij <span class="font-semibold">u thuis of op een locatie
                naar keuze.</span> Verplaatsingskosten worden niet aangerekend binnen een straal van 10 kilometer rond Duffel. Voor verdere verplaatsingen wordt een vergoeding per km aangerekend.
            </p>
            <div class="grid grid-cols-1 my-6 gap-y-4 md:grid-cols-2 md:gap-x-4">
				<PrimaryActionLink label="Vraag je tasting aan" redirectTo={appRoutes.contact} />
				<SecondaryActionLink label="Terug naar het overzicht" redirectTo={appRoutes.tastings.base} />
			</div>
        </section>
    </article>
</Layout>
